<!-- <div class="page-background">
    <div class="card">
    <h4 class="card-header text-center">Sign In</h4>
    <div class="card-body">
      <form action="" #r="ngForm">
        <div class="form-group">
          <label>User Name</label>
          <input type="text" placeholder="Enter the User Name" ngModel name="userName" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" placeholder="Enter the Password" ngModel name="password" class="form-control">
        </div>
        <button class="btn btn-primary" (click)="show(r)">Sign In</button>
      </form>
    <div *ngIf="data" class="alert alert-danger mt-3">
      {{ data }}
    </div>
  </div>
    <div class="card-footer text-center">
      <p>Don't have an account? <a routerLink="/userregistration">Sign Up</a></p>
      <p>Admin Login account <a routerLink="/adminlogin">Sign Up</a></p>
    </div>
  </div>

</div>
   -->

   <div class="page-background">
    <div class="card">
      <h4 class="card-header text-center">Sign In</h4>
      <div class="card-body">
        <form (ngSubmit)="show(r)" #r="ngForm">
          <div class="form-group">
            <label>User Name</label>
            <input
              type="text"
              placeholder="Enter the User Name"
              ngModel
              name="userName"
              class="form-control"
              #userName="ngModel"
              required
              minlength="3"
            />
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
              <div *ngIf="userName.errors?.['required']">User Name is required.</div>
              <div *ngIf="userName.errors?.['minlength']">User Name must be at least 3 characters long.</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              placeholder="Enter the Password"
              ngModel
              name="password"
              class="form-control"
              #password="ngModel"
              required
              minlength="6"
            />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <div *ngIf="password.errors?.['required']">Password is required.</div>
              <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="r.invalid"
          >
            Sign In
          </button>
        </form>
        <div *ngIf="data" class="alert alert-danger mt-3">
          {{ data }}
        </div>
      </div>
      <div class="card-footer text-center">
        <p>Don't have an account? <a routerLink="/userregistration">Sign Up</a></p>
        <p>Admin Login account <a routerLink="/adminlogin">Sign Up</a></p>
      </div>
    </div>
  </div>
  