.container {
  padding: 20px;
}

.table-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th  {
  background-color: #f4f4f4;
}

tr {
  background-color: #f4f4f4;
}



.table tbody tr:hover {
  background-color: #f1f1f1;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

.add {
  margin-bottom: 20px;
}


.form-wrapper {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.schedule-form {
  max-width: 600px;
  margin: auto;
}

.schedule-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #17a2b8;
}

.group {
  margin-bottom: 15px;
}

.group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.action {
  margin-top: 20px;
}

.save {
  margin-right: 10px;
}


.text-danger {
  color: #dc3545;
  font-size: 18px;
  text-align: center;
}
.add {
  background-color: #229954; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add:hover {
  background-color: #0009b3; 
}

.add:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); 
}

:host {
  display: block;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/assets/flight4.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
}

