<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Search Flights</h5>
          <p class="card-text">Find and search for available flights based on your travel preferences.</p>
          <a routerLink="/Schedule" class="btn btn-primary">Search Flights</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Booking</h5>
          <p class="card-text">Book your flight tickets easily with our user-friendly booking system.</p>
          <a routerLink="/booking" class="btn btn-primary">Go to Booking</a>
        </div>
      </div>
    </div>
  </div>
</div>
