<app-navbar></app-navbar>


<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="https://via.placeholder.com/150?text=User" class="card-img-top" alt="User Details" style="height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">User Details</h5>
          <p class="card-text">Manage and view user information.</p>
          <a routerLink="/user" class="btn btn-primary">Go to User Details</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <img src="https://via.placeholder.com/150?text=Flight" class="card-img-top" alt="Flight Modifications" style="height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Flight Modifications</h5>
          <p class="card-text">Edit and update flight schedules.</p>
          <a routerLink="/schedulecurd" class="btn btn-primary">Go to Flight Modifications</a>
        </div>
      </div>
    </div>
  </div>
</div>

